.clearfix {
    overflow: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

body {
    margin: 0;
    width: 100vw;
    font-weight: 100;
    line-height: 1;
    background-color: black;
    color: white;
    text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#initializeDisplay {
    width: 60%;
    height: 400px;
    display: block;
    margin: 175px auto 0 auto;
    padding: 15px 20px;
    background-color: black;
}

#gameDisplay {
    width: 60%;
    height: 90vh;
    margin: 20px auto 0 auto;
    padding: 0 20px 0 20px;
    display: none;
    position: relative;
    text-align: center;
    background-color: rgb(94, 89, 92);
    border-radius: 3px;
}

h2 {
    color: rgb(23, 22, 22);
}

#winsDisplay,
#lossesDisplay {
    top: 0;
    width: calc(100% / 2 - 10px);
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

#imageDisplay {
    width: 100%;
    height: calc(100% - 20%);
    position: block;
    overflow: hidden;
    filter: blur(30px);
}

#imageDisplay img {
    height: 100%;
    width: auto;
    z-index: 2;
    /* filter: blur(30px); */
}

#statsDisplay {
    bottom: 0;
    width: 100%;
    height: 200px;
    position: relative;
}

.correctLettersDisplay {
    height: 20px;
    margin: 0 auto;
    padding: 0;
    display: block;
    position: relative;
}

#correctLettersDisplay {
    margin: 0;
}

#correctLettersDisplay {
    font-size: 26px;
    letter-spacing: 9px;
}

.wordDisplayUnderline {
    height: 10px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.wordDisplayUnderline h2 {
    height: 5px;
    margin-top: -20px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
}

.flashMessage {
    width: 400px;
    height: 200;
    background-color: hotpink;
    color: black;
    text-align: center;
}

/* ============================================================================== */
/* = jQUERY FLASH PLUGIN CSS                                                    = */
/* ============================================================================== */
#flash {
    cursor: pointer;
    z-index: 5500;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background-color: hotpink;
    color: #FFF;
    width: 915px;
    padding: 25px 20px;
    margin: 0;
    font-size: 2em;
    text-align: center;
    border: none;
    filter: alpha(opacity=280);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
}

#flash div.flash_close {
    top: -6px;
    right: -6px;
    position: absolute;
    height: 30px;
    width: 30px;
    background: url('close.png') top left no-repeat;
    cursor: pointer;
    z-index: 181;
}